services:
  app:
    container_name: decision-tree-processing
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/app
    working_dir: /app
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
    restart: unless-stopped

